/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid lightgray;
}

button {
  cursor: pointer;
}
.sort__arrow {
  user-select: none;
}
.sort__arrow_asc::after {
  content: '\25BC'
}
.sort__arrow_desc::after {
  content: '\25B2'
}