h1 {
  text-align: center;
}
table{
  border: 1px solid #faf3e8;
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(odd){
	background: #ffefd5;
}
tr:nth-child(even){
	background: #fadfac;
}
th, td {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid lightgray;
}
.sort__arrow {
  user-select: none;
}
.sort__arrow_asc::after {
  content: '\25BC'
}
.sort__arrow_desc::after {
  content: '\25B2'
}
.user_list__cell__ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user_list__cell__name {
  width: 15%;
  position: relative;
  cursor: pointer;
}
.user_list__cell__messsage {
  max-width: 0;
  width: 75%;
}
.user_list__cell__time {
  text-align: center;
}
.user_list__controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 10px;
}
.user_list__controls_button {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}
.user_list__controls_button:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
.user_list__controls_button:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}
.user_list__controls_r {
  padding-right: 50px;
}
.user_list__tooltip {
  transition: opacity 0.5s;
  opacity: 0;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: #FDBE33;
  padding: 10px;
  border: 1px solid #D77206;
  border-radius: 3px;
  font-size: 0.96em;
  line-height: 1.4rem;

}
.user_list__tooltip:hover {
  opacity: 1;
}